<ion-view view-title="Totals">
  <ion-content>
    <h3 class="centered">Ultimate Totals</h3>
  </ion-content>

  <div class="tabs tabs-icon-only">
    <a nav-clear class="tab-item disable-user-behavior active" title="Home" nav-clear ui-sref="snd.home">
      <i class="icon ion-home"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
    <a nav-clear class="tab-item disable-user-behavior" title="Chat" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="snd.chat">
      <i class="icon ion-chatbubbles"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
    <a nav-clear class="tab-item disable-user-behavior" title="Basketball" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="tabs.season">
      <i class="icon ion-ios-basketball"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
  </div>
</ion-view>
