/* Empty. Add your own CSS if you like */

/* Color Scheme 

black : #06000a;

white : #e6e6e8;

peach : #c43235;

purple : #300032;

red : #A53230;

grey : #1f1e25;

*/

body, html {
    color: #e6e6e8;
    background: #06000a;
}
h1,h2,h3,h4,h5,h6 {
    color: #e6e6e8;
    font-weight: 700;
    text-shadow: inset 1px 2px #1f1e25;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 10px 0 10px 0 !important;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}
.centered {
    text-align: center;
}
.button-fullwidth {
    width: 100%;
}
.pane, .view {
    color: #e6e6e8;
    background: #06000a;
}
/* Ionic Overrides */
.bar {
    border-color: #300032;
    background: #000000; 
}
.bar.bar-stable {
    background: #000000;
    border-color: #300032;
}
.bar.bar-stable .title {
    color: #A53230;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 10px !important;
}
.item, .item-content, .list-item {
    color: #e6e6e8;
    background: #06000a;
    border-color: #300032;
}
.item-complex .item-content, .item-radio .item-content {
    color: #e6e6e8;
    background: #06000a;
}
.item.activated,
.item-complex .item-content.activated {
    color: #300032 !important;
    background: #c43235 !important;
    opacity: .95;
}
.menu-left {
    background: #06000a;
    border-right: 1px solid #A53230;
}
.menu .scroll-content {
    border-right: 2px solid #A53230;
}
.bar-stable .button.button-icon {
    color: #e6e6e8;
}
/* Tabs */
.tabs {
    color: #e6e6e8;
    background: #1f1e25;
}
.tabs-icon-only.tabs .icon {
    color: #e6e6e8;
}
